RewriteEngine On

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Redirect .html to clean URLs
RewriteCond %{THE_REQUEST} ^GET\ /([^\ ]+)\.html
RewriteRule (.*)\.html$ /$1 [R=301,L]